.carousel-item > img {
  width: 100%;
}

.hidden {
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

#nav {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

#map {
  height: 100%;
}

#navContainer {
  position: relative;
  height: 83px;
}



ul a:hover {
  background-color: rgba(255, 255, 255, 0.075);
}


#userProfile {
  height: 33px;
  width: 33px;
  border-radius: 99px;
  border: 0.5px solid grey
}